@page
@model _21880109_QuanLyCuaHang_LTHDT.Pages.MH_SuaHoaDonBanHangModel
@using Entities

<form method="post">
    <label for="maHoaDon">Mã hóa đơn:</label>
    <input type="text" name="maHoaDon" value="@Model.Id" disabled />
    <label for="ngayTao">Nhập ngày tạo hóa đơn:</label>
    <input type="date" name="ngayTao" value="@Model.HoaDonBan.NgayTaoHoaDon" />


    <table>
        <tr>
            <th>STT</th>
            <th>Mã Mặt Hàng + Tên Mặt Hàng</th>
            <th>Số lượng</th>
        </tr>
        @{

            for (int i = 1; i <= 5; i++)
            {
                <tr id="chiTietHoaDon">
                    <td>@i</td>
                    <td>
                        <select name="MaMatHang@(i)" value="">
                            @{
                                <option value="@Model.HoaDonBan.ChiTiet[i-1].MaMatHang" selected>@Model.HoaDonBan.ChiTiet[i - 1].MaMatHang @Model.HoaDonBan.ChiTiet[i - 1].TenMatHang</option>
                                <option value="" disabled>----------------------------------------------</option>
                                foreach (MatHang mh in Model.dsmh)
                                {
                                    <option value="@mh.MaMH">@mh.MaMH: @mh.TenMH</option>
                                }
                            }
                        </select>
                    </td>
                    <td><input type="number" name="SoLuong@(i)" value="@Model.HoaDonBan.ChiTiet[i-1].SoLuong"></td>
                    <!--<td><input type="number" name="ThanhTien"></td>-->
                </tr>

            }
        }
    </table>
    <div style="text-align: center; margin-top:10px;">
        <input type="submit" value="Sửa" />
    </div>

</form>

@Model.Chuoi

